<div class="category-box">
  <div>
    <a
      class="add-button"
      routerLink="/admin/categories/new"
      routerLinkActive="active"
      class="add-button"
      >Add Category</a
    >
  </div>

  <div class="container tableData">
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let category of categories
              | slice : (page - 1) * pageSize : page * pageSize
          "
        >
          <td>{{ category.categoryName }}</td>
          <td class="tableDataDel">
            <a [routerLink]="['/admin/categories/', category.categoryId]" class="edit"
              ><i class="fas fa-edit"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="categories.length"
    >
    </ngb-pagination>
  </div>
</div>
