<div class="sticky-top">
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      [class.active]="!selectedCategory"
      routerLink="/items"
    >
      All Products
    </a>
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['/items']"
      [queryParams]="{ category: category.categoryId }"
      [class.active]="selectedCategory == category.categoryId"
      *ngFor="let category of categories"
    >
      {{ category.categoryName }}
    </a>
  </div>
</div>
