<div class="brand-box">
  <div>
    <a
      class="add-button"
      routerLink="/admin/brands/new"
      routerLinkActive="active"
      class="add-button"
      >Add Brand</a
    >
  </div>

  <div class="container tableData">
    <table class="table">
      <thead>
        <tr>
          <th>Brand</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let brand of brands
              | slice : (page - 1) * pageSize : page * pageSize
          "
        >
          <td>{{ brand.brandName }}</td>
          <td class="tableDataDel">
            <a [routerLink]="['/admin/brands/', brand.brandId]" class="edit"
              ><i class="fas fa-edit"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="brands.length"
    >
    </ngb-pagination>
  </div>
</div>
